service: hms-email-service

provider:
  name: aws
  runtime: python3.10
  timeout: 30


plugins:
  - serverless-offline

functions:
  sendEmail:
    handler: handler.send_email
    events:
      - http:
          path: send-email
          method: post
          cors: true
