{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow p-4">
      <h3 class="mb-3">👩‍⚕️ Patient Login</h3>

      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input class="form-control" type="text" name="username" required>
        </div>

        <div class="mb-2">
          <label class="form-label">Password</label>
          <input class="form-control" id="patientPass" type="password" name="password" required>
        </div>

        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" onclick="togglePassword('patientPass')">
          <label class="form-check-label">Show Password</label>
        </div>

        <button class="btn btn-primary w-100">Login as Patient</button>
      </form>

      <hr>
      <div class="d-flex justify-content-between">
        <a href="/signup/patient/">Patient Signup</a>
        <a href="/login/doctor/">Doctor Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
